# Calories Burn Predict ML Model

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [2]:
df = pd.read_csv("calorie_data.csv")

In [3]:
df.head()

   id  gender  age  height  weight      bmr  activity_level        tdee
0   1    Male   57     175      71  1523.75       Sedentary  1828.50000
1   2  Female   24     174      51  1316.50     Very Active  2270.96250
2   3    Male   49     188      80  1735.00  Lightly Active  2385.62500
3   4    Male   65     163      84  1538.75  Lightly Active  2115.78125
4   5    Male   36     209      89  2021.25  Lightly Active  2779.21875

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10000 non-null  int64
 1   gender          10000 non-null  object
 2   age             10000 non-null  int64
 3   height          10000 non-null  int64
 4   weight          10000 non-null  int64
 5   bmr             10000 non-null  float64
 6   activity_level  10000 non-null  object
 7   tdee            10000 non-null  float64
dtypes: float64(2), int64(4), object(2)
memory usage: 625.1+ KB

In [5]:
df.dropna

<bound method DataFrame.dropna of          id  gender  age  height  weight      bmr     activity_level  \
0         1    Male   57     175      71  1523.75          Sedentary
1         2  Female   24     174      51  1316.50        Very Active
2         3    Male   49     188      80  1735.00     Lightly Active
3         4    Male   65     163      84  1538.75     Lightly Active
4         5    Male   36     209      89  2021.25     Lightly Active
...     ...     ...  ...     ...     ...      ...                ...
9995   9996  Female   27     160      71  1414.00        Very Active
9996   9997    Male   36     189      86  1866.25  Moderately Active
9997   9998  Female   63     187      74  1432.75          Sedentary
9998   9999  Female   62     180      61  1264.00       Super Active
9999  10000    Male   32     180      92  1890.00          Sedentary

            tdee
0     1828.50000
1     2270.96250
2     2385.62500
3     2115.78125
4     2779.21875
...          ...
9995  2439.15000
9996  2892.68750
9997  1719.30000
9998  2401.60000
9999  2268.00000

[10000 rows x 8 columns]>

In [6]:
df.columns = ["ID","Gender","Age","Height(m)","Weight(kg)","BMR","Activity Level","TDEE"]

In [7]:
df.head()

   ID  Gender  Age  Height(m)  Weight(kg)      BMR  Activity Level        TDEE
0   1    Male   57        175          71  1523.75       Sedentary  1828.50000
1   2  Female   24        174          51  1316.50     Very Active  2270.96250
2   3    Male   49        188          80  1735.00  Lightly Active  2385.62500
3   4    Male   65        163          84  1538.75  Lightly Active  2115.78125
4   5    Male   36        209          89  2021.25  Lightly Active  2779.21875

In [7]:
df.drop(columns=["ID"])

,Gender,Age,Height(m),Weight(kg),BMR,Activity Level,TDEE
0,Male,57,175,71,1523.75,Sedentary,1828.50000
1,Female,24,174,51,1316.50,Very Active,2270.96250
2,Male,49,188,80,1735.00,Lightly Active,2385.62500
3,Male,65,163,84,1538.75,Lightly Active,2115.78125
4,Male,36,209,89,2021.25,Lightly Active,2779.21875
...,...,...,...,...,...,...,...
9995,Female,27,160,71,1414.00,Very Active,2439.15000
9996,Male,36,189,86,1866.25,Moderately Active,2892.68750
9997,Female,63,187,74,1432.75,Sedentary,1719.30000
9998,Female,62,180,61,1264.00,Super Active,2401.60000
9999,Male,32,180,92,1890.00,Sedentary,2268.00000

In [8]:
pd.get_dummies(df,columns=["Activity Level"])

,ID,Gender,Age,Height(m),Weight(kg),BMR,TDEE,Activity Level_Lightly Active,Activity Level_Moderately Active,Activity Level_Sedentary,Activity Level_Super Active,Activity Level_Very Active
0,1,Male,57,175,71,1523.75,1828.50000,False,False,True,False,False
1,2,Female,24,174,51,1316.50,2270.96250,False,False,False,False,True
2,3,Male,49,188,80,1735.00,2385.62500,True,False,False,False,False
3,4,Male,65,163,84,1538.75,2115.78125,True,False,False,False,False
4,5,Male,36,209,89,2021.25,2779.21875,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Female,27,160,71,1414.00,2439.15000,False,False,False,False,True
9996,9997,Male,36,189,86,1866.25,2892.68750,False,True,False,False,False
9997,9998,Female,63,187,74,1432.75,1719.30000,False,False,True,False,False
9998,9999,Female,62,180,61,1264.00,2401.60000,False,False,False,True,False
9999,10000,Male,32,180,92,1890.00,2268.00000,False,False,True,False,False

In [9]:
pd.get_dummies(df,columns=["Gender"])

,ID,Age,Height(m),Weight(kg),BMR,Activity Level,TDEE,Gender_Female,Gender_Male
0,1,57,175,71,1523.75,Sedentary,1828.50000,False,True
1,2,24,174,51,1316.50,Very Active,2270.96250,True,False
2,3,49,188,80,1735.00,Lightly Active,2385.62500,False,True
3,4,65,163,84,1538.75,Lightly Active,2115.78125,False,True
4,5,36,209,89,2021.25,Lightly Active,2779.21875,False,True
...,...,...,...,...,...,...,...,...,...
9995,9996,27,160,71,1414.00,Very Active,2439.15000,True,False
9996,9997,36,189,86,1866.25,Moderately Active,2892.68750,False,True
9997,9998,63,187,74,1432.75,Sedentary,1719.30000,True,False
9998,9999,62,180,61,1264.00,Super Active,2401.60000,True,False
9999,10000,32,180,92,1890.00,Sedentary,2268.00000,False,True

In [10]:
df['Gender'] = df['Gender'].map({'Male': 0, 'Female': 1})

In [11]:
df.head()

   ID  Gender  Age  Height(m)  Weight(kg)      BMR  Activity Level        TDEE
0   1       0   57        175          71  1523.75       Sedentary  1828.50000
1   2       1   24        174          51  1316.50     Very Active  2270.96250
2   3       0   49        188          80  1735.00  Lightly Active  2385.62500
3   4       0   65        163          84  1538.75  Lightly Active  2115.78125
4   5       0   36        209          89  2021.25  Lightly Active  2779.21875

In [12]:
df['Activity Level'] = df['Activity Level'].map({'Sedentary': 1, 'Lightly Active': 2, 'Moderately Active': 3, 'Very Active': 4, 'Super Active': 5})

In [14]:
df.head()

   ID  Gender  Age  Height(m)  Weight(kg)      BMR  Activity Level        TDEE
0   1       0   57        175          71  1523.75               1  1828.50000
1   2       1   24        174          51  1316.50               4  2270.96250
2   3       0   49        188          80  1735.00               2  2385.62500
3   4       0   65        163          84  1538.75               2  2115.78125
4   5       0   36        209          89  2021.25               2  2779.21875

In [15]:
df.dropna

<bound method DataFrame.dropna of          ID  Gender  Age  Height(m)  Weight(kg)      BMR  Activity Level  \
0         1       0   57        175          71  1523.75               1
1         2       1   24        174          51  1316.50               4
2         3       0   49        188          80  1735.00               2
3         4       0   65        163          84  1538.75               2
4         5       0   36        209          89  2021.25               2
...     ...     ...  ...        ...         ...      ...             ...
9995   9996       1   27        160          71  1414.00               4
9996   9997       0   36        189          86  1866.25               3
9997   9998       1   63        187          74  1432.75               1
9998   9999       1   62        180          61  1264.00               5
9999  10000       0   32        180          92  1890.00               1

            TDEE
0     1828.50000
1     2270.96250
2     2385.62500
3     2115.78125
4     2779.21875
...          ...
9995  2439.15000
9996  2892.68750
9997  1719.30000
9998  2401.60000
9999  2268.00000

[10000 rows x 8 columns]>

In [16]:
df.drop(columns=["ID"])

      Gender  Age  Height(m)  Weight(kg)      BMR  Activity Level        TDEE
0          0   57        175          71  1523.75               1  1828.50000
1          1   24        174          51  1316.50               4  2270.96250
2          0   49        188          80  1735.00               2  2385.62500
3          0   65        163          84  1538.75               2  2115.78125
4          0   36        209          89  2021.25               2  2779.21875
...      ...  ...        ...         ...      ...             ...         ...
9995       1   27        160          71  1414.00               4  2439.15000
9996       0   36        189          86  1866.25               3  2892.68750
9997       1   63        187          74  1432.75               1  1719.30000
9998       1   62        180          61  1264.00               5  2401.60000
9999       0   32        180          92  1890.00               1  2268.00000

[10000 rows x 7 columns]

In [18]:
x = df[["Gender","Age","Height(m)","Weight(kg)","Activity Level"]]

In [19]:
y = df[["TDEE"]]

In [21]:
scaler_model = StandardScaler()
x_scaled = scaler_model.fit_transform(x)

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,train_size=0.80,random_state=48)

In [25]:
model = RandomForestRegressor(n_estimators=100,random_state=42)

In [26]:
model.fit(x_train,y_train)

c:\Users\ciger\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor(random_state=42)

In [28]:
y_predict = model.predict(x_test)

In [29]:
mae = mean_absolute_error(y_test, y_predict)
print(f"Mean Absolute Error (MAE): {mae:.2f} kalori")

Mean Absolute Error (MAE): 18.77 kalori

In [30]:
sample_data = pd.DataFrame({
    'Gender': [0],      
    'Age': [25],         
    'Height(m)': [175],     
    'Weight(kg)': [70],     
    'Activity Level': [3] 
})

In [31]:
sample_data_scaled = scaler_model.transform(sample_data)

In [32]:
model.predict(sample_data_scaled)

array([2565.734375])